{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

    <h2>Project List </h2>
    <p>
        <a href="{% url 'project-create' %}">add a project</a>
    </p>

    <div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Date Logged</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          {% for project in object_list %}

          <tr>
            <td><a href="{% url 'project-view' project.pk %}">{{ project.name }}</a> </td>
            <td>{{ project.created_date}}</td>
            <td><a href="{% url 'project-update' project.pk %}">edit</a></td>
            <td><a href="{% url 'project-delete' project.pk %}">delete</a></td>

          </tr>
          {% empty %}
          <tr>
            <td> No content yet </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
