{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

    <h2>Soil Profile List for {{project.name}} </h2>
    <p>
        <a href="{% url 'profile-add' project_pk %}">Add a borehole</a>
    </p>

    <div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Borehole Name</th>
            <th>Date Logged</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          {% for profile in profiles %}

          <tr>
            <td><a href="{% url 'profile-view' profile_pk=profile.pk project_pk=project_pk %}">{{profile.name}}</a> </td>
            <td>{{ profile.created_date}}</td>
            <td><a href="{% url 'profile-update' profile_pk=profile.pk project_pk=project_pk %}">edit</a></td>
            <td><a href="{% url 'profile-delete' profile_pk=profile.pk project_pk=project_pk %}">delete</a></td>

          </tr>
          {% empty %}
          <tr>
            <td> No content yet </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
