{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

    <h2>Soil Profile List </h2>
    <p>
        <a href="{% url 'profile-add' %}">add a profile</a>
    </p>

    <div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Borehole Name</th>
            <th>Date Logged</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          {% for profile in object_list %}

          <tr>
            <td>{{ profile.name }} </td>
            <td>{{ profile.created_date}}</td>
            <td><a href="{% url 'profile-update' profile.pk %}">edit</a></td>
            <td><a href="{% url 'profile-delete' profile.pk %}">delete</a></td>

          </tr>
          {% empty %}
          <tr>
            <td> No content yet </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
